.search-tag{
    position: relative;
}

.holder{
    margin: 36px auto;
    width: 100%;
    max-width: 800px;


}

.holder input {
    width: 100%;
    padding: 16px;
    font-size: 36px;
    font-style: bold;
    font-family: "Playfair Display";
    color: #444;
    box-sizing: border-box;
    outline: none;
}

.instruct{
    text-align: center;
    font-family: "Playfair Display";
}