.search-tag{
    position: relative;
}

.holder{
    margin: 36px auto;
    width: 100%;
    max-width: 800px;


}

.holder input {
    width: 100%;
    padding: 16px;
    font-size: 36px;
    font-style: bold;
    font-family: "Roboto";
    color: orangered;
    border-top-style: none;
    border-right-style: none;
    border-left-style:none;
    border-bottom-style: none;
    outline: none;
    text-align: center
}

.instruct{
    text-align: center;
    font-family: "Playfair Display";
}

hr {
    width: 75%
}

.icon {
    position: absolute;
    top: 25px;
    right: 10px;
    border:none;
}